# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [2]:
#Assignment 1: Creating and Accessing Sets
#Create a set with the first 10 positive integers. Print the set
ls=list(range(0,11))
s1=set(ls)
print(s1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
#Assignment 2: Adding and Removing Elements¶
#Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set
ls=list(range(0,11))
s1=set(ls)
s1.add(11)
print(s1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [11]:
#Assignment 3: Set Operations
#Create two sets: one with the first 5 positive integers and another with the first 5 even integers.
#Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets

s1=set([1,2,3,4,5])
s2=set([2,4,6,8,10])
#union
union_set=s1.union(s2)
print('union')
print(union_set) #ignored duplicated element i.e 2,4 and combined all
print(s1,'s1') #nothing changed in s1
print(s2,'s2') #nothinng changed in s2
print('==============')
#intersection
print('intersection_set')
intersection_set=s1.intersection(s2) 
print(intersection_set)#returned common elements
print(s1,'s1')#nothing changed in s1
print(s2,'s2')#nothinng changed in s2
print('==============')

print('difference_set')
difference_set=s1.difference(s2) 
print(difference_set)#returned uncommon elements of s1
print(s1,'s1')#nothing changed in s1
print(s2,'s2')#nothinng changed in s2
print('==============')
print('symmetricdifference_set')
sym_diff_set=s1.symmetric_difference(s2) # return combined  uncommon elements
print(sym_diff_set)
print(s1,'s1')
print(s2,'s2')
print('==============')

union
{1, 2, 3, 4, 5, 6, 8, 10}
{1, 2, 3, 4, 5} s1
{2, 4, 6, 8, 10} s2
==============
intersection_set
{2, 4}
{1, 2, 3, 4, 5} s1
{2, 4, 6, 8, 10} s2
==============
difference_set
{1, 3, 5}
{1, 2, 3, 4, 5} s1
{2, 4, 6, 8, 10} s2
==============
symmetricdifference_set
{1, 3, 5, 6, 8, 10}
{1, 2, 3, 4, 5} s1
{2, 4, 6, 8, 10} s2
==============

In [ ]:
#Assignment 4: Set Comprehensions¶
#Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [12]:
s1={2,3,4}
result={s^2 for s in s1}
print(result,type(result))

{0, 1, 6} <class 'set'>

In [14]:
# Assignment 5: Filtering Sets
#Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.
ls=list(range(0,11))
s1=set(ls)
result={s for s in s1 if s % 2==0}
print(result)

{0, 2, 4, 6, 8, 10}

In [15]:
# Assignment 6: Set Methods
#Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.
ls=[1,1,2,3,4,4]
s1=set(ls)
print(s1)

{1, 2, 3, 4}

In [20]:
#Assignment 7: Subsets and Supersets
#Create two sets: one with the first 5 positive integers and another with the first 3 positive integers.
#Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.
s1=set(list(range(1,6)))
s2=set(list(range(1,4)))
print(s1)
print(s2)
print(s2.issubset(s1))
print(s1.issuperset(s2))

{1, 2, 3, 4, 5}
{1, 2, 3}
True
True

In [31]:
# Assignment 8: Frozenset
#Create a frozenset with the first 5 positive integers. Print the frozenset.
s1_frozen=frozenset(list(range(1,6)))
print(s1_frozen,type(s1_frozen))
s1_frozen.add(7) #frozen set are immutable

frozenset({1, 2, 3, 4, 5}) <class 'frozenset'>

AttributeError: 'frozenset' object has no attribute 'add'

In [33]:
### Assignment 9: Set and List Conversion
#Create a set with the first 5 positive integers. 
#Convert it to a list,
#append the number 6, 
#and convert it back to a set. Print the resulting set.
ls=list(range(1,6))
s1=set(ls)
converted_ls=list(s1)
converted_ls.append(6)
result=set(converted_ls)
print(ls)
print(s1)
print(converted_ls)
print(result)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

In [43]:
# Assignment 10: Set and Dictionary
#Create a dictionary with set keys and integer values. Print the dictionary.
k1=frozenset([1])
k2=frozenset([2])
k3=frozenset([3])
dic={k1:4,k2:90,k3:89}
print(dic)

{frozenset({1}): 4, frozenset({2}): 90, frozenset({3}): 89}

In [44]:
## Assignment 11: Iterating Over Sets

#Create a set and iterate over the elements, printing each element.
set1=(1,2,30)
for s in set1:
    print(s)

1
2
30

In [49]:
### Assignment 12: Removing Elements from Sets
#Create a set and remove elements from it until it is empty. Print the set after each removal.
s1={1,2,3}
while(len(s1)!=0):
    print(s1)
    s1.pop()

{1, 2, 3}
{2, 3}
{3}

In [55]:
### Assignment 13: Set Symmetric Difference Update
#Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.
s1={1,2,3,4,5}
s2={1,2,3,6,7,8,9}
s1.symmetric_difference_update(s2)

print(s1)

{4, 5, 6, 7, 8, 9}

In [59]:
### Assignment 14: Set Membership Testing

#Create a set and test if certain elements are present in the set. Print the results.
s1={99,100,10}
print(100 in s1)
print(200 in s1)

True
False

In [60]:

### Assignment 15: Set of Tuples
#Create a set containing tuples, where each tuple contains two elements. Print the set.
tup_set={(1,2,),(4,5,)}
print(tup_set)

{(4, 5), (1, 2)}