# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [54]:
#Assignment 1: Creating and Accessing Tuples
#Create a tuple with the first 10 positive integers. Print the tuple.

In [55]:
numbers=range(1,11)
tup1=tuple(numbers)
print(tup1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [56]:
#Assignment 2: Accessing Tuple Elements
#Print the first, middle, and last elements of the tuple created in Assignment 1.
first,*middle,last=tup1
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [57]:
#Assignment 3: Tuple Slicing
#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(tup1[:3])
print(tup1[7:10])
print(tup1[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [58]:
#Assignment 4: Nested Tuples¶
#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column

In [59]:
nested_tup=(tup1[:3],tup1[3:6],tup1[6:9])
print(nested_tup)
print(nested_tup[0],end=' ')
print()
print(nested_tup[1],end='')
print()
print(nested_tup[2],end='')
print()
print(nested_tup[2][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
9

In [60]:
#Assignment 5: Tuple Concatenation
#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
t1=(1,2,3)
t2=(4,5,6)
concatenated_tup=t1+t2
print(concatenated_tup)

(1, 2, 3, 4, 5, 6)

In [61]:
### Assignment 6: Tuple Methods

#Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
dup_tup=(1,2,3,3,4,5)
occurrence_3=dup_tup.count(3)
print(occurrence_3)

2

In [62]:
### Assignment 7: Unpacking Tuples

#Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tup_new=(1,3,4,6.0,'hi')
a,b,c,d,e=tup_new
print(a)
print(b)
print(c)
print(d)
print(e)

1
3
4
6.0
hi

In [63]:
#Assignment 8: Tuple Conversion¶
#Convert a list of the first 5 positive integers to a tuple. Print the tuple.
ch=list(range(1,6))
print(ch)
print(tuple(ch))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [64]:
#Assignment 9: Tuple of Tuples
#Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
t1=(1,2,3)
t2=(4,5,6)
t3=(7,8,9)
nested_tup=(t1,t2,t3)
print(nested_tup)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [65]:
#Assignment 10: Tuple and List
#Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tup1=tuple(range(0,4))
print(tup1)
tup1=list(tup1)
print(tup1)
tup1.append(6)
print(tup1)
resulted_tup=tuple(tup1)
print(resulted_tup)

(0, 1, 2, 3)
[0, 1, 2, 3]
[0, 1, 2, 3, 6]
(0, 1, 2, 3, 6)

In [66]:
# Assignment 11: Tuple and String
#Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
tup=('a','b','c')
resulted_tup=tup[0]+tup[1]+tup[2]
print(resulted_tup)

abc

In [67]:
#Assignment 12: Tuple and Dictionary

#Create a dictionary with tuple keys and integer values. Print the dictionary.
dic={(a):2,(c):4}
print(dic)

{1: 2, 4: 4}

In [68]:
# Assignment 13: Nested Tuple Iteration

#Create a nested tuple and iterate over the elements, printing each element.
tup1=(1,2,3)
for el in tup1:
    print(el)

1
2
3

In [69]:
#Assignment 14: Tuple and Set
#Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
numbers=[1,2,2,3,3,4]
t1=tuple(numbers)
s1=set(t1)
print(t1)
print(s1)

(1, 2, 2, 3, 3, 4)
{1, 2, 3, 4}

In [70]:
### Assignment 15: Tuple Functions
#Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
import numpy as np
def result(t1):
    ls=list(t1)
    array1=np.array(ls)
    max=int(array1.max())
    min=int(array1.min())
    sum=int(array1.sum())
    return max,min,sum

min,max,sum=result((1,2,3,4))
print(min)
print(max)
print(sum)

4
1
10